#video {
    padding: 20px 0 0 0;

    .video-wrapper {
        padding: 0px 50px 0 50px;
    }

    &.theater-mode {
        padding-top: 0;

        .video-theater-container {
            display: block;
        }

        .related-videos {
            padding-top: 15px;
        }
    }

    .video-theater-container {
        width: 100%;
        background-color: #000000;
        height: 80vh;
        display: none;
    }

    .video-info-container {
        float: left;
        width: 100%;
        padding: 0 25px 0 0px;

        .video-info {
            margin-bottom: 15px;
            border-bottom: 1px solid #dddddd;

            .video-title {
                margin-top: 15px;
                font-size: 1.5em;
                margin-bottom: 10px;
            }
        }
    }

    .related-videos {
        float: left;
        width: 100%;
    }

    .list-item {
        .item-thumbnail-wrapper {
            width: 180px;
        }

        .item-details-wrapper {
            padding: 0 0 0 10px;
        }
    }

    @media screen and (min-width: 1024px) {
        .video-info-container {
            width: 70%;
        }   
        
        .related-videos {
            width: 30%;
        }
    }
}
