.channel-icon {
    float: left;
    font-family: Sans-serif;
    display: block;
    border-radius: 100%;
    background-color: #00887a;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    color: #ffffff;
}
