.list-item {
    float: left;
    width: 100%;
    overflow: hidden;

    a {
        color: inherit;
    }

    .item-thumbnail-wrapper {
        margin-bottom: 0.5rem;
        float: left;
        width: 100%;

        .item-thumbnail {
            background-color: #000000;
            position: relative;
    
            img {            
                width: 100%;
            }

            .item-thumbnail-preview {
                &.display-preview {
                    opacity: 1;
                }

                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                background: transparent;
                opacity: 0;
                transition: opacity 0.5s;
            }
    
            .video-duration {
                background-color: #333333;
                color: #ffffff;
                position: absolute;
                bottom: 5px;
                right: 5px;
                font-size: 0.8rem;
                padding: 0 0.2rem 0 0.2rem;
                border-radius: 0.2rem;
            }
        }
    } 

    .item-details-wrapper {
        float: left;
        width: 100%;
        height: 82px;
        display: flex;
        color: #444444;
    
        .channel-image {
            float: left;
            padding-right: 0.5rem;
        }

        .item-details {
            float: left;
            width: 80%;
            font-size: 0.9em;

            h2 {
                font-size: 1.1em;
                font-weight: 700;
                margin-bottom: 0.5rem;
                color: #000000;
                max-height: 40px;
                -webkit-line-clamp: 2;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }
    }
}
