.nav-bar {
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;   
    
    .left-nav {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;

        a {
            cursor: pointer;
            display: flex;
            align-items: center;

            h2 {
                padding-left: 0.2rem;
                font-family: Impact, Charcoal, sans-serif;
            }

            * {
                float: left;
            }
        }
    }

    .center-nav {
        flex-grow: 1;
        padding: 0 0.5rem 0 0.5rem;

        .search-container {
            width: 100%;
            max-width: 500px;
            margin: auto;
            display: flex;
            flex-direction: row;

            .search-bar {
                flex-grow: 1;

                input {
                    width: 100%;
                    height: 32px;
                    border: 1px solid #999;
                    border-right: 0;
                    padding-left: 0.5rem;
                    font-size: 1em;
                    border-radius: 0;

                    &:focus {
                        outline: none;
                    }
                }
            }

            button {
                border-radius: 0;
                background-color: #ededed;
                border: 1px solid #999;
                width: 70px;
                cursor: pointer;
                line-height: 0;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: #ddd;

                    svg {
                        fill: #333;
                    }
                }

                svg {
                    fill: #666;
                }
            }
        }
    }

    .right-nav {
        padding-right: 0.5rem;

        .upload {
            float: left;
            padding: 0 1.5rem 0 1.5rem;
        }

        .account-nav {
            float: left;
            font-family: Sans-serif;
            display: block;
            border-radius: 100%;
            background-color: #00887a;
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 32px;
            color: #ffffff;
        }
    }
}

#app {
    &.theater-mode {
        .video-page {
            .nav-bar {
                background-color: $primary-dark;
                color: #ffffff; 
            }
        }
    }
}


